<a href="https://colab.research.google.com/github/Harry-Turner/Python/blob/main/ML_UserProfiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

ratings_features = ["userId", "movieId", "rating", "timestamp"]
ratings_dataframe = pandas.read_csv("u.data", sep = "\t", names = ratings_features,
                                    encoding = "ISO-8859-1")

In [2]:
movie_features = ["movieId", "movieTitle", "Release", "videoRelease", "IMDB URL", "unknown",
                  "Action", "Adventure", "Animation", "Childrens", "Comedy", "Crime",
                  "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical",
                  "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]

movies_dataframe = pandas.read_csv("u.item", sep = "|", names = movie_features,
                                    encoding = "ISO-8859-1")

movies_dataframe

,movieId,movieTitle,Release,videoRelease,IMDB URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
user_features = ["userId", "age", "gender", "occupation", "zipCode"]
users_dataframe = pandas.read_csv("u.user", sep = "|", names = user_features,
                                    encoding = "ISO-8859-1")

users_dataframe

     userId  age gender     occupation zipCode
0         1   24      M     technician   85711
1         2   53      F          other   94043
2         3   23      M         writer   32067
3         4   24      M     technician   43537
4         5   33      F          other   15213
..      ...  ...    ...            ...     ...
938     939   26      F        student   33319
939     940   32      M  administrator   02215
940     941   20      M        student   97229
941     942   48      F      librarian   78209
942     943   22      M        student   77841

[943 rows x 5 columns]

In [4]:
NUMBER_OF_GROUPS = 5

users_dataframe["age group"] = pandas.qcut(users_dataframe["age"],
                                           q = NUMBER_OF_GROUPS,
                                           precision = 0)

users_dataframe

     userId  age gender     occupation zipCode     age group
0         1   24      M     technician   85711  (23.0, 29.0]
1         2   53      F          other   94043  (46.0, 73.0]
2         3   23      M         writer   32067   (6.0, 23.0]
3         4   24      M     technician   43537  (23.0, 29.0]
4         5   33      F          other   15213  (29.0, 35.0]
..      ...  ...    ...            ...     ...           ...
938     939   26      F        student   33319  (23.0, 29.0]
939     940   32      M  administrator   02215  (29.0, 35.0]
940     941   20      M        student   97229   (6.0, 23.0]
941     942   48      F      librarian   78209  (46.0, 73.0]
942     943   22      M        student   77841   (6.0, 23.0]

[943 rows x 6 columns]

In [5]:
merged_dataframes = pandas.merge(pandas.merge(ratings_dataframe,
                                              users_dataframe[["userId",
                                                               "age group",
                                                               "gender",
                                                               "occupation"]],
                                              on = "userId",
                                              how = "left"),
                                 movies_dataframe,
                                 on = "movieId",
                                 how = "left")
merged_dataframes

,userId,movieId,rating,timestamp,age group,gender,occupation,movieTitle,Release,videoRelease,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,"(46.0, 73.0]",M,writer,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,"(35.0, 46.0]",F,executive,L.A. Confidential (1997),01-Jan-1997,NaN,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,"(23.0, 29.0]",M,writer,Heavyweights (1994),01-Jan-1994,NaN,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,"(23.0, 29.0]",M,technician,Legends of the Fall (1994),01-Jan-1994,NaN,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,"(46.0, 73.0]",M,educator,Jackie Brown (1997),01-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,"(6.0, 23.0]",M,student,"First Wives Club, The (1996)",14-Sep-1996,NaN,...,0,0,0,0,0,0,0,0,0,0
99996,716,204,5,879795543,"(35.0, 46.0]",F,administrator,Back to the Future (1985),01-Jan-1985,NaN,...,0,0,0,0,0,0,1,0,0,0
99997,276,1090,1,874795795,"(6.0, 23.0]",M,student,Sliver (1993),01-Jan-1993,NaN,...,0,0,0,0,0,0,0,1,0,0
99998,13,225,2,882399156,"(46.0, 73.0]",M,educator,101 Dalmatians (1996),27-Nov-1996,NaN,...,0,0,0,0,0,0,0,0,0,0
99999,12,203,3,879959583,"(23.0, 29.0]",F,other,Unforgiven (1992),01-Jan-1992,NaN,...,0,0,0,0,0,0,0,0,0,1

In [6]:
# Drop columns that are not useful for ML model. Extra info thats not needed can / will affect results
merged_dataframes.drop(["movieId", "movieTitle", "Release", "timestamp", "unknown", "IMDB URL", "videoRelease"], axis = 1,
                       inplace = True)

merged_dataframes

,userId,rating,age group,gender,occupation,Action,Adventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,3,"(46.0, 73.0]",M,writer,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,186,3,"(35.0, 46.0]",F,executive,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,22,1,"(23.0, 29.0]",M,writer,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,244,2,"(23.0, 29.0]",M,technician,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,166,1,"(46.0, 73.0]",M,educator,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,3,"(6.0, 23.0]",M,student,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99996,716,5,"(35.0, 46.0]",F,administrator,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
99997,276,1,"(6.0, 23.0]",M,student,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,2,"(46.0, 73.0]",M,educator,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99999,12,3,"(23.0, 29.0]",F,other,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
merged_dataframes ["age group"] = pandas.Categorical(merged_dataframes["age group"])

merged_dataframes

,userId,rating,age group,gender,occupation,Action,Adventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,3,"(46.0, 73.0]",M,writer,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,186,3,"(35.0, 46.0]",F,executive,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,22,1,"(23.0, 29.0]",M,writer,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,244,2,"(23.0, 29.0]",M,technician,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,166,1,"(46.0, 73.0]",M,educator,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,3,"(6.0, 23.0]",M,student,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99996,716,5,"(35.0, 46.0]",F,administrator,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
99997,276,1,"(6.0, 23.0]",M,student,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,2,"(46.0, 73.0]",M,educator,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99999,12,3,"(23.0, 29.0]",F,other,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
age_group_dummies = pandas.get_dummies(merged_dataframes["age group"])

age_group_dummies

       (6.0, 23.0]  (23.0, 29.0]  (29.0, 35.0]  (35.0, 46.0]  (46.0, 73.0]
0                0             0             0             0             1
1                0             0             0             1             0
2                0             1             0             0             0
3                0             1             0             0             0
4                0             0             0             0             1
...            ...           ...           ...           ...           ...
99995            1             0             0             0             0
99996            0             0             0             1             0
99997            1             0             0             0             0
99998            0             0             0             0             1
99999            0             1             0             0             0

[100000 rows x 5 columns]

In [9]:
merged_dataframes["gender"] = pandas.Categorical(merged_dataframes["gender"])

gender_dummies = pandas.get_dummies(merged_dataframes["gender"])

gender_dummies

       F  M
0      0  1
1      1  0
2      0  1
3      0  1
4      0  1
...   .. ..
99995  0  1
99996  1  0
99997  0  1
99998  0  1
99999  1  0

[100000 rows x 2 columns]

In [10]:
merged_dataframes["occupation"] = pandas.Categorical(merged_dataframes["occupation"])

occupation_dummies = pandas.get_dummies(merged_dataframes["occupation"])

occupation_dummies

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
merged_dataframes = pandas.concat([merged_dataframes,
                                   age_group_dummies,
                                   gender_dummies,
                                   occupation_dummies],
                                  axis = 1)

merged_dataframes

,userId,rating,age group,gender,occupation,Action,Adventure,Animation,Childrens,Comedy,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
0,196,3,"(46.0, 73.0]",M,writer,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,186,3,"(35.0, 46.0]",F,executive,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,22,1,"(23.0, 29.0]",M,writer,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
3,244,2,"(23.0, 29.0]",M,technician,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,166,1,"(46.0, 73.0]",M,educator,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,3,"(6.0, 23.0]",M,student,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
99996,716,5,"(35.0, 46.0]",F,administrator,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99997,276,1,"(6.0, 23.0]",M,student,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,2,"(46.0, 73.0]",M,educator,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99999,12,3,"(23.0, 29.0]",F,other,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [12]:
merged_dataframes.drop(["age group", "gender", "occupation"], axis = 1,
                       inplace = True)

merged_dataframes

,userId,rating,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
0,196,3,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,186,3,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,22,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,244,2,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,166,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,3,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99996,716,5,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,276,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99998,13,2,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,12,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [13]:
# Check to see if there are any null values as they're not required
merged_dataframes.isnull().sum()

userId           0
rating           0
Action           0
Adventure        0
Animation        0
Childrens        0
Comedy           0
Crime            0
Documentary      0
Drama            0
Fantasy          0
Film-Noir        0
Horror           0
Musical          0
Mystery          0
Romance          0
Sci-Fi           0
Thriller         0
War              0
Western          0
(6.0, 23.0]      0
(23.0, 29.0]     0
(29.0, 35.0]     0
(35.0, 46.0]     0
(46.0, 73.0]     0
F                0
M                0
administrator    0
artist           0
doctor           0
educator         0
engineer         0
entertainment    0
executive        0
healthcare       0
homemaker        0
lawyer           0
librarian        0
marketing        0
none             0
other            0
programmer       0
retired          0
salesman         0
scientist        0
student          0
technician       0
writer           0
dtype: int64

In [14]:
from sklearn.linear_model import Ridge

from sklearn.model_selection import GridSearchCV

#Create base ridge model
ridge_model = Ridge()

alpha = []

ALPHA_LENGTH = 7

import numpy

# Create list of estimator numbers
for i in range(ALPHA_LENGTH):

  alpha.extend(numpy.arange(10**(i-5), 10**(i-4), 10**(i-5)*2))

alpha

[1e-05,
 3.0000000000000004e-05,
 5.000000000000001e-05,
 7.000000000000002e-05,
 9.000000000000002e-05,
 0.0001,
 0.00030000000000000003,
 0.0005000000000000001,
 0.0007000000000000001,
 0.0009000000000000002,
 0.001,
 0.003,
 0.005,
 0.007,
 0.009000000000000001,
 0.01,
 0.03,
 0.049999999999999996,
 0.06999999999999999,
 0.08999999999999998,
 0.1,
 0.30000000000000004,
 0.5000000000000001,
 0.7000000000000001,
 0.9000000000000001,
 1,
 3,
 5,
 7,
 9,
 10,
 30,
 50,
 70,
 90]

In [15]:
# Create dictionary of estimators
parameters = { "alpha": alpha }

NUMBER_OF_FOLDS = 5

# Used to evaluate how well a model perfoms and compare different models using the estimator
ridge_cross_validation = GridSearchCV(estimator = ridge_model,
                                      param_grid= parameters,
                                      scoring = "neg_mean_absolute_error",
                                      cv = NUMBER_OF_FOLDS,
                                      return_train_score=True,
                                      verbose = 1)

COLUMN_AXIS = 1

# Independent data
X = merged_dataframes.drop("rating",
                           axis = COLUMN_AXIS)

# Dependent data
y = merged_dataframes.rating

from sklearn.model_selection import train_test_split

# Split in to groups with a test size of 20% (i.e./ 20k)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

X_train

,userId,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
40055,530,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
74895,870,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
39973,301,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
72558,347,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
94276,85,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49806,537,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18352,95,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5067,341,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32263,425,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
27534,347,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [19]:
X_train.columns = X_train.columns.astype(str)

# function used to train (.fit == training)
ridge_cross_validation.fit(X_train, y_train)

Fitting 5 folds for each of 35 candidates, totalling 175 fits

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-05, 3.0000000000000004e-05,
                                   5.000000000000001e-05, 7.000000000000002e-05,
                                   9.000000000000002e-05, 0.0001,
                                   0.00030000000000000003,
                                   0.0005000000000000001, 0.0007000000000000001,
                                   0.0009000000000000002, 0.001, 0.003, 0.005,
                                   0.007, 0.009000000000000001, 0.01, 0.03,
                                   0.049999999999999996, 0.06999999999999999,
                                   0.08999999999999998, 0.1,
                                   0.30000000000000004, 0.5000000000000001,
                                   0.7000000000000001, 0.9000000000000001, 1, 3,
                                   5, 7, 9, ...]},
             return_train_score=True, scoring='neg_mean_absolute_error',
             verbose=1)

In [22]:
# Find best value that matchs our model / data
ridge_cross_validation.best_estimator_

Ridge(alpha=1e-05)

In [24]:
best_alpha = 1e-05

# Create most accurate ridge  using the best estimator
best_alpha_ridge = Ridge(alpha = best_alpha)

# Train data again using ridge to get estimator back out. Confirming corrrect
best_alpha_ridge.fit(X_train, y_train)

Ridge(alpha=1e-05)

In [27]:
from sklearn.metrics import mean_squared_error

X_test.columns = X_test.columns.astype(str)

# Find error of model using the NEW data from test. (i.e/ not seen before)
error = mean_squared_error(y_test, best_alpha_ridge.predict(X_test))

error

1.2089281394390978